.login-background {
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    padding-top: 11.7rem;
}

.banner-login img{
    width: 32.3rem;
    align-self: flex-end;
     
    position: absolute; 
    
    top: 9.5rem;
}
.formulario-login h2 {
    color: var(--gris1);
    font-size: var(--size-h1);
    font-weight: 600;
    
    margin-top: 1.7rem;
   
}
.formulario-login span {
    font-size: var(--size-h3);
    font-weight: 300;
    color: var(--gris2);
    margin-bottom: 5rem;
}

.formulario-login {
    background-color: #fff;
    border-radius: 4rem 4rem 0rem 0rem;
    
}
.formulario {
    width: 31.5rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    
}

.formulario__label {
    font-size: 1.2rem;
    color: var(--gris3);
    
    margin-bottom: 3.4rem;

    display: flex;
    flex-direction: column;
    
}


.formulario__label input {
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid var(--gris3);
    outline: none;
    font-size: var(--size-parrafo);
}

.formulario button {
    height: 5.4rem;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    border-radius: 1rem;
    color: #fff;
    font-size: var(--size-parrafo);
    font-weight: 600;
    border-style: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    position: relative;
}
.formulario button img {
    width: 2.5rem;
    position: absolute;
    right: 2.8rem;
}

.formulario__mensaje {
    color: var(--gris1);
    font-size: var(--size-parrafo);
    margin-top: 2rem;

    align-self: flex-end;
}